<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<!-- Copyright © NBS-Tech Team 2019 All rights reserved. -->
  <configSections>
    <section name="smtp" type="UrusTools.Config.SmtpSection, Urus.Tools"/>
    <section name="gRPCServer" type="UrusTools.Config.GRPCConfSection, Urus.Tools"/>
  </configSections>
  
  <smtp host="smtp.163.com" email="lanbery@163.com" pass="123456"></smtp>
  <gRPCServer key="grpc" host="127.0.0.1" port="10001"></gRPCServer>
</configuration>